<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Fly_Away</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserControllerServlet</display-name>
    <servlet-name>UserControllerServlet</servlet-name>
    <servlet-class>com.controller.UserControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/UserControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightControllerServlet</display-name>
    <servlet-name>FlightControllerServlet</servlet-name>
    <servlet-class>com.controller.FlightControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightControllerServlet</servlet-name>
    <url-pattern>/FlightControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminValidation</display-name>
    <servlet-name>AdminValidation</servlet-name>
    <servlet-class>com.controller.AdminValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidation</servlet-name>
    <url-pattern>/AdminValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingDetails</display-name>
    <servlet-name>BookingDetails</servlet-name>
    <servlet-class>com.controller.BookingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingDetails</servlet-name>
    <url-pattern>/BookingDetails</url-pattern>
  </servlet-mapping>
</web-app>